@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://db.onlinewebfonts.com/c/bc7180991c16435d1a43191ad84a21cf?family=MustangW01-Regular");

.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 2rem;
  /* font-weight: bold; */
  font-weight: 500;
  font-family: "MustangW01-Regular";
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.n-list > ul > Link > li:hover {
  cursor: pointer;
  color: var(--orange);
}

.n-button {
  flex: 1.2;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }

  .n-button {
    display: none;
  }

  .n-left {
    gap: 3rem;
  }

  .n-name {
    white-space: nowrap;
    font-size: 1.8rem;
    /* width: 100%; */
  }
}
