.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > div > * {
  display: flex;
  flex-direction: column;
}

.i-name > div > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > div > :nth-child(2) {
  transform: scale(0.12);
  position: absolute;
  top: -11.1rem;
  left: -2.8rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 18px;
  color: var(--gray);
  margin-top: 10px;
}

.i-button {
  width: 6rem;
  height: 2rem;
}

.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}

.i-icons > * {
  transform: scale(0.5);
}

.i-icons > *:hover {
  cursor: pointer;
}

.i-right {
  flex: 1;
  position: relative;
  margin-left: 12%;
  margin-top: 2.5%;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  transform: scale(0.9);
  left: -15%;
  top: -9%;
}

.i-right > :nth-child(2) {
  transform: scale(0.8);
  left: -3rem;
  top: -4.3rem;
}

.i-right > :nth-child(3) {
  transform: scale(0.29);
  left: -60%;
  top: -146%;
}

.i-right > :nth-child(4) {
  transform: scale(0.55) rotate(17deg);
  left: -4rem;
  top: 8rem;
  /* transform: rotate(15deg); */
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}
