.floatingdiv {
  justify-content: space-around;
  display: flex;
  background: white;
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  align-items: center;
  padding: 0px 28px 0px 0px;
  height: 4.5rem;
  width: 10rem;
  margin-left: -1.8rem;
}

.floatingdiv > img {
  transform: scale(0.1);
  margin-left: -10rem;
}

.floatingdiv > span {
  font-size: 16px;
  margin-left: -10rem;
}
